{% extends 'ctsapp/main.html' %}

{% block content %}
    <div class="container">
        <div class="text-cemter">
            <h2>Passwort zurücksetzen</h2>
        </div>
        <form method="post">
        <div class="form-group">
            {% csrf_token %}
                <label>E-Mail Adresse:</label>
                <input class="form-control" type="email" name="email" maxlength="254" id="id_email" required="">
        </div>
            <div class="form-group">
            <button type="submit" class="btn btn-default">Absenden</button>
                </div>
        </form>
    </div>
{% endblock %}