{% extends 'ctsapp/main.html' %}
{% block content %}
{% load static %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static 'Bilder/la.jpg' %}" alt="New York" class="slider-picture">
        <div class="carousel-caption">
          <h3>Heidenheim</h3>
          <p>Die neuesten Spots in Heidenheim gibt es <a href="#">hier!</a></p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'Bilder/chicago.jpg' %}" alt="Chicago" class="slider-picture">
        <div class="carousel-caption">
          <h3>Ulm</h3>
          <p>Auch in Ulm gibt es welche</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static 'Bilder/ny.jpg' %}" alt="Los Angeles" class="slider-picture">
        <div class="carousel-caption">
          <h3>Aalen</h3>
          <p>Und auch in Aalen kann man Parcous machen</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<div id="band" class="container text-center">
  <h3>Über uns</h3>
  <p><em>Parkour lässt dich neue Wege gehen, auf der Straße und im Leben!</em></p>
    <p>Capture the Spot ist ein Startup-Unternehmen mit 6 Mitarbeiten, welches sich mit der Sportart Parkour auseinandersetzt. Wir möchten den Spielern mit unserem System das lange Suchen nach Spots abnehmen, somit bleibt mehr Zeit für das Training. Durch zusätzliche Funktionen wie zum Beispiel das Erhalten von Punkten, das Erreichen von neuen Levels, das Bewerten von Spots sowie das Bilden von Teams wird Parkour noch reizvoller.</p>
</div>
<div class="container container-small-padding text-center">
    <h3>Beste Spots</h3>
  <div class="row">
    {% for spot in best_spots %}
    <div class="col-sm-4">
      <p class="text-center"><strong>{{ spot.bezeichnung }}</strong></p><br>
      <a href="#demo{{ spot.spot_id }}" data-toggle="collapse">
          <img src="{{ spot.bild }}" class="img-circle person best-spot-picture" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo{{ spot.spot_id }}" class="collapse">
        <p>{{ spot.ort_id.name }}</p>
        <p>{{ spot.schwierigkeit_id.beschreibung }}</p>
        <p>{% for i in spot.bewertung %}★{% endfor %}</p>
        <a href="/spot/{{ spot.spot_id }}">Zum Spot</a>
      </div>
    </div>
   {%  endfor %}
  </div>
</div>

<div id="contact" class="container container-small-padding">

  <h3 class="text-center">Beste Spieler</h3>
  <ul class="nav nav-tabs">
      {% for spieler in spielers %}
        <li class="{{ spieler.active }}"><a data-toggle="tab" href="#home{{ spieler.spieler_id }}">{{ spieler.username }}</a></li>
      {% endfor %}
  </ul>

  <div class="tab-content">
      {% for spieler in spielers %}
    <div id="home{{ spieler.spieler_id }}" class="tab-pane fade in {{ spieler.active }}">
      <h3>{{ forloop.counter }}. Platz</h3>
      <p><b>Punktzahl: </b>{{ spieler.punktzahl }}</p>
      <p><b>Team: </b>{{ spieler.team_id.name }}</p>
    </div>
      {% endfor %}
  </div>
  </div>
  <div class="container container-small-padding">
    <h3>Alle markierten Spots</h3>
    <div id="map"></div>
  </div>

<!-- Add Google Maps -->
<div id="googleMap"></div>
{% endblock %}
{% block script %}
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: new google.maps.LatLng({{ center }}),
          mapTypeId: 'terrain'
        });


        var features = [
            {% for spot in spots %}
                {
                position: new google.maps.LatLng({{ spot.breitengrad }}, {{ spot.laengengrad }}),
                },
            {% endfor %}
            ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            map: map
          });
        });

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt2fnvdE4Za0wT6b129B4yxN48SbxFXYE&callback=initMap">
    </script>
{% endblock %}