<!DOCTYPE html>
<html lang="de">

<head>
<link rel="shortcut icon" type="image/x-icon" href="static/Bilder/lion.png">
  <title>Capture The Spot!{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'cts/stylesheet.css' %}" />
</head>

<body id="myPage"> <!--data-spy="scroll" data-target=".navbar" data-offset="50">-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/"><img src ="{% static 'Bilder/lion.png' %}" style="height:60px"></a>
        <a class="navbar-brand" href="/">CTS</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">START</a></li>
        <li><a href="/suche">SPOTS</a></li>
        <li><a href="/kontakt">KONTAKT</a></li>
          {% if user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.first_name}}
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profil">PROFIL</a></li>
            <li><a href="/teams">TEAM</a></li>
            <li><a href="/logout">LOGOUT</a></li>
          </ul>
        </li>
          {% else %}
        <li><a href="/login"><strong>LOGIN</strong></a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block content %}{% endblock %}

<!-- Footer -->
<footer class="footer footer-sticky footer-bottom">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <div class="row">
            <div class="col-sm-8">
                <a href="http://www.heidenheim.dhbw.de/startseite.html"><img src="{% static 'Bilder/dhbw_weiss.png' %}" alt="Bild" id="pic-login" style="height: 2em; width: 5em"></a>
                <a href="http://www.heidenheim.dhbw.de/startseite.html">© 2018 Duale Hochschule Baden-Württemberg</a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.facebook.com/">Folge uns auf</a>
                <a href="https://www.facebook.com/"><img src="{% static 'Bilder/facebook.png' %}" alt="Bild" id="pic-login" style="height: 2em; width: 2em"></a>
            </div>
            <div class="col-sm-2">
                <a href="/impressum" style="font-weight:900">Impressum</a>
            </div>
        </div>
</footer>

{% block script %}{% endblock %}
<script>
$(document).ready(function(){
  //Footer-Position
  var body_height = $('body').height()+20; // +20 gives space between div and footer
  var window_height = $(window).height();
    if ( body_height + 130 <= window_height ) {
        $('footer').removeClass('footer-bottom');
        $('footer').addClass('footer-sticky');
        $('.up-arrow').css('display', 'none');
    }else{
        $('.up-arrow').css('display', 'block')
        $('footer').removeClass('footer-sticky');
        $('footer').addClass('footer-bottom');
    }


  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>
</body>
</html>