{% extends 'ctsapp/main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'cts/profil.css' %}" />
<div class="container">
    <h1>Profil</h1>
  {% if message %}
        <div class="alert alert-danger alert-dismissable">
            <p>{{ message }}</p>
        </div>
        {% endif %}
    <div class="row" id="profil-header">
        <div class="col-sm-4">
            <div class="col-sm-12">
                <img class="rund img-rounded" src={{ profilbild_url }} alt="Testbild" id="profilbild"/>
            </div>
        </div>
        <div class="col-sm-8">
        <p><b>Punktzahl: {{ user.punktzahl }}</b></p>
         <p><b>Level: {{ level }}</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-info profil-level" role="progressbar" style="width: {{ ProUG }}%" >
                    {{ UG }} Punkte
                </div>
                <div class="progress-bar progress-bar-warning profil-level" role="progressbar" style="width: {{ ProOG }}%">
                    {{ OG }} Punkte
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-12">
            <h3>Meine Daten</h3>
            <div class="row underline">
                <div class="col-sm-4"><b>Username:</b></div><div class="col-sm-8">{{ user.username }}</div>
            </div>
            <div class="row underline">
                <div class="col-sm-4"><b>Vorname:</b></div><div class="col-sm-8">{{ user.first_name }}</div>
            </div>
            <div class="row underline">
                <div class="col-sm-4"><b>Nachname:</b></div><div class="col-sm-8">{{ user.last_name }}</div>
            </div>
            <div class="row underline">
                <div class="col-sm-4"><b>Wohnort:</b></div><div class="col-sm-8">{{ user.ort_id.name }}</div>
            </div>
            <div class="row">
                <div class="col-sm-4"><b>E-Mail:</b></div><div class="col-sm-8">{{ user.email }}</div>
            </div>
        </div>
</div>

    <div class=" container container-small-padding" id="container-profil">
        <h3>Meine besuchten Spots</h3>
         {% if spots %}
    <div class="table-responsive">
    <table class="table" id="ergebnis">
        <tr>
            <th>Bild</th>
            <th>Bezeichnung</th>
            <th><div class="table-header">Ort</div><span><div class="sort-buttons"><i onclick="sortORT_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortORT_ab()" class="fas fa-angle-down"></i></div></span></th>
            <th><div class="table-header">Schwierigkeit</div><span><div class="sort-buttons"><i onclick="sortSchwierigkeit_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortSchwierigkeit_ab()" class="fas fa-angle-down"></i></div></span></th>
            <th><div class="table-header">Bewertung</div><span><div class="sort-buttons"><i onclick="sortBewertung_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortBewertung_ab()" class="fas fa-angle-down"></i></div></span></th>
            <th><div class="table-header">Spot bewerten</div></th>
        </tr>
        {% for spot in spots %}
        <tr>
            <td><img class="search-picture" src="{{ spot.bild_url }}"></td>
            <td><a href="/spot/{{ spot.spot_id }}">{{ spot.bezeichnung }}</a></td>
            <td>{{ spot.ort_id.name }}</td>
            <td>{{ spot.schwierigkeit_id.beschreibung }}</td>
            <td style="display: none">{{ spot.schwierigkeit_id.punkte }}</td>
            <td>{% for i in spot.bewertung %}★{% endfor %}</td>
            <td><a href="/bewertung/{{ spot.spot_id }}">Zur Bewertung</a></td>
        </tr>

        {% empty %}
            <p>Du hast noch keine Spots besucht. Gebe den Code von Spots in unserem Portal ein, um Punkte zu bekommen.</p>
        {% endfor %}
    </table>
        </div>

    {% endif %}
    </div>
    <div class="container container-small-padding">
        <h3>Meine Daten ändern</h3>
        <div class="col-sm-12">
            <div class="panel-group" style="display: block;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Profilbild ändern</a>
                        </h3>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="file" name="file" accept="image/jpg, image/jpeg">
                                </div>
                                <input type="hidden" name="aktion" value="bild">
                                <button type="submit" class="btn btn-default">Hochladen</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">Allgemeine Daten ändern</a>
                        </h3>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Nachname</label>
                                    <input name ="last_name" type="text" class="form-control" value="{{ user.last_name }}" required>
                                </div>
                                <div class="form-group">
                                    <label>E-Mail</label>
                                    <input name="email" type="email" class="form-control" value="{{ user.email }}" required>
                                </div>
                                <div class="form-group">
                                    <label>Plz</label>
                                    <input type="text" id="plz" class="form-control" value="{{ user.ort_id.plz }}" required onkeyup="get_orte()">
                                </div>
                                <div class="form-group">
                                    <label>Wohnort</label>
                                    <div id="wohnort" class="radio">
                                        {% for ort in orte %}
                                            {% if ort.ort_id == user.ort_id.ort_id %}
                                                <label><input type="radio" name="ort_id" value="{{ user.ort_id.ort_id }}" checked> {{ user.ort_id.name }}</label><br>
                                            {% else %}
                                                <label><input type="radio" name="ort_id" value="{{ ort.ort_id }}"> {{ ort.name }}</label><br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <input type="hidden" name="aktion" value="daten">
                                <button type="submit" class="btn btn-default">Speichern</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</div>
{% endblock %}
{% block script %}
<script>
function get_orte() {
var feld = document.getElementById('plz').value;
var link = "/api/get-ort/" + feld;
output = "";

xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myObj = JSON.parse(this.responseText);
        for (x in myObj) {
            output += '<label><input type="radio" name="ort_id" value="'+ myObj[x].ort_id +'"> ' + myObj[x].name + '</label><br>';
        }
        document.getElementById('wohnort').innerHTML = output;
    }
}
xmlhttp.open("GET", link , true);
xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xmlhttp.send(); }

function get_code() {

xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        myObj = JSON.parse(this.responseText);
        document.getElementById('code').innerText = myObj.code;
        document.getElementById('sendcode').value = myObj.code;
    }
}
xmlhttp.open("GET", "/api/get-code/" , true);
xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xmlhttp.send(); }
</script>
<script>
function sortORT_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortSchwierigkeit_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[4];
      y = rows[i + 1].getElementsByTagName("TD")[4];
      //check if the two rows should switch place:
      if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortBewertung_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[5];
      y = rows[i + 1].getElementsByTagName("TD")[5];
      //check if the two rows should switch place:
      if (x.innerHTML > y.innerHTML) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortORT_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortSchwierigkeit_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[4];
      y = rows[i + 1].getElementsByTagName("TD")[4];
      //check if the two rows should switch place:
      if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortBewertung_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[5];
      y = rows[i + 1].getElementsByTagName("TD")[5];
      //check if the two rows should switch place:
      if (x.innerHTML < y.innerHTML) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
{% endblock %}