{% extends 'ctsapp/main.html' %}
{% block title %}CTS - Registrierung{% endblock %}
{% block content %}
{% load static %}
    <div class="container">
        <div class="text-center">
            <h1>Registrierung</h1>
        </div>
        {% if message %}
            {% if flag %}
            <div class="alert alert-danger alert-dismissable">
                {{ message }}
                <a href="/registrierung">Zurück zur Registrierung</a>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable">
                {{ message }}
                <a href="/login">Zum Login</a>
            </div>
            {% endif %}
        {% else %}
        <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:33%;height: 30px;line-height: 30px;">
            Schritt 1 von 3
        </div>
        </div>
    <form action="{% url 'registrierung' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Benutzername</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Vorname</label>
            <input type="text" name="first_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Nachname</label>
            <input type="text" name="last_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Postleitzahl</label>
            <input type="text" name="plz" class="form-control" required>
        </div>
        <input type="hidden" value="1" name="seite">
        <button type="submit" id="button-submit">Weiter zu Schritt 2</button>
    </form>
    </div>
{% endif %}
{% endblock %}
