{% extends 'ctsapp/main.html' %}
{% block title %}CTS - Spot Suche{% endblock %}
{% block content %}
{% load static %}
<div class="container" id="spot-search">
        <h1>Umkreis Suche</h1>
    <div class="row">
        <p>Du suchst nach einem Ort in deiner Umgebung? Dann klicke auf folgenden Button.</p>
        <div class="form-group" id="umkreis-suche">
            <label for="umkreis">Umkreis</label>
            <div class="row">
            <select id="umkreis" class="form-control col-sm-10">
                    <option value="5">5 KM</option>
                    <option value="10">10 KM</option>
                    <option value="15">15 KM</option>
                    <option value="20">20 KM</option>
                    <option value="50">50 KM</option>
                </select>
            <button class="btn btn-default col-sm-2" onclick="ermittlePosition()">Anzeigen</button>
            </div>
        </div>
    {% if message %}
        <h3>Suchergebnisse</h3>
            <div class="alert alert-danger alert-dismissable">
                <p>{{ message }}</p>
            </div>
        {% endif %}
    <div class="table-responsive">
    <table class="table" id="ergebnis">
    </table>
        </div>
</div>
{% endblock %}
{% block script %}
<script>
    function ermittlePosition() {
        ausgabe = document.getElementById('ergebnis');
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(get_spots_umkreis, handle_error);
            ausgabe.innerHTML = '<div class="load-3">\n' +
                '                <div class="text-center"><div class="line"></div>\n' +
                '                <div class="line"></div>\n' +
                '                <div class="line"></div></div>\n' +
                '            </div>';
        }
    }
    function handle_error(error) {
        document.getElementById('ergebnis').innerHTML = '<div class="alert alert-danger alert-dismissable">\n' +
            '                <p>Bitte aktivieren Sie die Ortung in Ihrem Browser.</p>\n' +
            '            </div>'
    }
    function get_spots_umkreis(position) {
        var longitude = position.coords.longitude;
        var latitude = position.coords.latitude;
        var link = '/api/umkreis/?umkreis=' + document.getElementById('umkreis').value + '&longitude=' + longitude + '&latitude=' + latitude;
        output = '<h3>Suchergebnisse</h3>' +
            '<tr>\n' +
            '            <th>Bild</th>\n' +
            '            <th>Bezeichnung</th>\n' +
            '            <th><div class="table-header">Ort</div><span><div class="sort-buttons"><i onclick="sortORT_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortORT_ab()" class="fas fa-angle-down"></i></div></span></th>\n' +
            '            <th><div class="table-header">Schwierigkeit</div><span><div class="sort-buttons"><i onclick="sortSchwierigkeit_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortSchwierigkeit_ab()" class="fas fa-angle-down"></i></div></span></th>\n' +
            '            <th><div class="table-header">Bewertung</div><span><div class="sort-buttons"><i onclick="sortBewertung_auf()" class="fas fa-angle-up"></i></div><div class="sort-buttons"><i onclick="sortBewertung_ab()" class="fas fa-angle-down"></i></div></span></th>\n' +
            '        </tr>'
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            myObj = JSON.parse(this.responseText);
            for (x in myObj) {
                output +=
                        "<tr>\n"+
            "            <td><img class=\"search-picture\" src='" + myObj[x].bild_url +"'></td>" +
            "            <td><a href=\"/spot/" + myObj[x].spot_id + "\">"+ myObj[x].bezeichnung +"</a></td>\n" +
            "            <td>"+ myObj[x].ortname +"</td>\n" +
            "            <td>"+ myObj[x].schwierigkeit +"</td>\n" +
            "            <td>"+ get_sterne(myObj[x].bewertung) +"</td>\n" +
            "            </tr>\n";
            }
         output +=
        "    </table>\n" +
        "        </div>";
            document.getElementById('ergebnis').innerHTML = output;
            make_footer();
        }
    };
    xmlhttp.open("GET", link , true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xmlhttp.send();
        }
function get_sterne(bewertung) {
    var sterne = "";
    for (i=0; i<parseInt(bewertung); i++) {
        sterne += "<span class=\"fa fa-star checked\"></span>";
    }
    return sterne;
}
</script>
<script>
function sortORT_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortSchwierigkeit_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[4];
      y = rows[i + 1].getElementsByTagName("TD")[4];
      //check if the two rows should switch place:
      if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortBewertung_auf() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[5];
      y = rows[i + 1].getElementsByTagName("TD")[5];
      //check if the two rows should switch place:
      if (x.innerHTML > y.innerHTML) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortORT_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[2];
      y = rows[i + 1].getElementsByTagName("TD")[2];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortSchwierigkeit_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[4];
      y = rows[i + 1].getElementsByTagName("TD")[4];
      //check if the two rows should switch place:
      if (parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
function sortBewertung_ab() {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("ergebnis");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[5];
      y = rows[i + 1].getElementsByTagName("TD")[5];
      //check if the two rows should switch place:
      if (x.innerHTML < y.innerHTML) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
  }
}
</script>
{% endblock %}