  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
      height: 100%;
  }
  h3, h4 {
      margin: 10px 0 30px 0;
      font-size: 20px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
  }
  .person:hover {
      border-color: #f1f1f1;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
    .container {
      padding: 80px 30px;
  }
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }

  .btn-spot {
      padding: 5.5px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
  #googleMap {
      width: 100%;
      height: 400px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
  }
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  .dropdown-toggle{
      text-transform: uppercase;
  }

  /*----FOOTER----*/

  footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      width: 100%;
      padding: 20px;
  }
  .footer-sticky {
      position: absolute;
      bottom: 0;
  }
  .footer-bottom {
      position: relative;

  }
  .up-arrow {
      display: block;
      text-align: center;
  }
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }

  #map {
      height: 400px;
      width: 100%;
  }

  #pic-login {
      width:88%;
  }

  .spot_detail_container {
      padding-top: 15px;
      padding-bottom: 15px;
  }

  h1 {
      margin-bottom: 30px;
  }

  .underline {border-bottom: 1px solid darkgray;}
  .container-small-padding {padding-top: 15px;}

  .best-spot-picture {width: 210px; height: 140px}

  .slider-picture {max-height: 500px !important;}

  #spot-search {padding-top: 0px;}

  .progress {height: 30px;}

  .sort-buttons {
      cursor: pointer;
      padding: 0px 3px;
      float: left;
  }

  .table-header {
      float: left;
      margin-right: 5px;
  }

  .search-picture {
      height: 50px;
      width: 100px;
      margin: auto;
  }

  .spot-anlegen-code p {
      padding-left: 10px;
      padding-right: 10px;
      float: left;
  }
  .spot-anlegen-code label {
      float: left;
  }

  .header-logo {
      height: 27px;
      margin-top: -3px;
      margin-right: -4px;
  }

  .delete-spot * {
      float: left;
      margin-left: 10px;
  }

  .img-spot-detail {
      -webkit-filter: None !important;
      filter: None !important;
  }

  #profilbild {
      float: left;
      height: 150px;
  }

  #index-profilbild {
      height: 100px;
  }

  #index-profilbild:before {
      float: left;
  }

  .spot-suche {
      padding: 0px;
  }

  .spot-umkreis {
      height: 42px;
      width: 16.66666667% !important;
  }

  .checked {
    color: orange;
}
@import url("https://fonts.googleapis.com/css?family=Roboto");

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #000000;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #000000;
}
.uploader label.hover {
  border: 3px solid #000000;
  -webkit-box-shadow: inset 0 0 0 6px #eee;
          box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(50%, #000000));
  background: linear-gradient(to right, #000000 0%, #000000 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #000000 0%, #000000 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000000;
  border-color: #000000;
  cursor: pointer;
}

#myCarousel h1 {
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    color: white;
    z-index: 1;
    font-size: 50px;
}
@media (max-width: 767px) {
        #myCarousel h1 {
            font-size: 30px;
        }
}
  @media (max-width: 550px) {
    #myCarousel h1 {
        top: 70px;
        font-size: 20px;
    }
  }
  @media (max-width: 400px) {
      #myCarousel h1 {
          top: 60px;
      }
  }

  .team-suche-bild {
      width: 150px;
  }

  /* Loader */
    .load-3 .line:nth-last-child(1) {animation: loadingC .6s .1s linear infinite;}
    .load-3 .line:nth-last-child(2) {animation: loadingC .6s .2s linear infinite;}
    .load-3 .line:nth-last-child(3) {animation: loadingC .6s .3s linear infinite;}
    .line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #000000;
}

  @keyframes loadingC {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
  }

  /* Loader */